# CSVs der Länderanalysen zusammenfügen

In [1]:
# Imports
import pandas as pd

In [2]:
# Schreibt alle Länderanalysen in eine Liste
li =[]

df1 = pd.read_csv('D:/TH_Koeln/SS21/DIS25_Natural_Language_Processing/Abgabe/NLP_Laenderanalyse_Part1.csv', index_col=None)
li.append(df1)

df2 = pd.read_csv('D:/TH_Koeln/SS21/DIS25_Natural_Language_Processing/Abgabe/NLP_Laenderanalyse_Part2.csv', index_col=None)
li.append(df2)

df3 = pd.read_csv('D:/TH_Koeln/SS21/DIS25_Natural_Language_Processing/Abgabe/NLP_Laenderanalyse_Part3.csv', index_col=None)
li.append(df3)

In [3]:
# Fügt den Inhalt der Liste zu einem Datafram zusammen
df = pd.concat(li, axis=0, ignore_index=True)

In [4]:
df

            land  neutral  negative  positive
0         türkei     6810      1297       331
1          polen     6091      2838       898
2       rumänien     2688       480        65
3   griechenland     3641      1388      2686
4       kroatien     3258       995       211
5      bulgarien     2537      1110        73
6    afghanistan     2931       567       107
7       russland     1940      6254        57
8        serbien     4779      1188        55
9       portugal     4200       397       137
10    frankreich     3947      2949       113
11         china     3280      2465      1627
12       vietnam     2723       609       340
13      pakistan      860      1351        67
14          irak     1761       803       317
15   niederlande     5809      1252       289
16   oesterreich     4144       281        37
17       bosnien     1921       992       154
18       spanien     2935      2335       835
19       ukraine     2019       721       426
20        syrien     2613      1020       174
21       italien     2732      1483      2041
22       amerika     4111      1662       235
23       england     3779      3779      1482
24       schweiz      253      6411        46
25      arabisch     1265      2289       759
26        afrika      660      2545       200
27          iran      907      2719       253
28        indien     2433      4293      1337
29        israel      928      4367        39
30   deutschland     2923      9165      1074

In [52]:
# Speichert den Dataframe in einer CSV
df.to_csv('D:/TH_Koeln/SS21/DIS25_Natural_Language_Processing/Abgabe/NLP_Laenderanalyse_Komplett.csv', index=False)